:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

button {
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.join-game-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.join-game-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

/*join-button*/
.join-button {
  padding: 5px 10px;
  font-size: 15px;
  color: #fff;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: var(--primary);
}

.search-bar button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: var(--primary);
}

.game-list {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 400px;
}

.game-list-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.game-list-header div {
  flex-basis: 33.33%;
  text-align: center;
}

.game-list-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.game-name {
  flex-basis: 33.33%;
}

.game-players {
  flex-basis: 33.33%;
  text-align: center;
}

.game-type {
  flex-basis: 33.33%;
  text-align: center;
}

.refresh-button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.refresh-button:hover {
  background-color: var(--primary);
}

.error-message {
  color: red;
}

@media screen and (min-width: 768px) {
  .join-game-container {
    width: 50%;
    margin: 20px auto;
  }
}
