:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

.lobby-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.lobby-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.btn-container button {
  padding: 5px 10px;
  font-size: 15px;
  color: #fff;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: var(--primary);
}

.player-list {
  display: flex;
  flex-wrap: wrap;
}

.player {
  flex-basis: 33.33%;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
